/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/border-radius";

@import "sprites.scss";

* {
  padding: 0;
  margin: 0;
}

@mixin dark-gray { background: rgb(51,51,51); }
@mixin light-gray { background: rgb(236,236,236); }
@mixin pink { background: rgb(255, 170, 170); }

@mixin round { border-radius: 10px; }

body { @include light-gray; }

body {
  header {
    @include dark-gray;
    position: relative;
    height: 112px;
    margin-bottom: 40px;
    
    #title-border {
      height: 13px;
      @include pink;
    }

    #title-logo {
      position: absolute;
      top: 80px;
      left: 20px;
      @include title-logo;
    }

    #title-icon {
      position: absolute;
      top: 30px;
      left: 520px;
      @include title-icon;
    }

    #title-border-bottom {
      width: 100%;
      background: url("/images/wave.png") repeat-x;
      top: 110px;
      position: absolute;
      height: 30px;
    }
  }

  #left-content {
    float:  left;
  }

  #right-content {
    float:  right;    
  }

  article {  
    width: 400px;
    margin-bottom: 50px;
    margin-left: 20px;
    font-size: 12px;
    line-height: 20px;

    header {
      position: relative;
      @include dark-gray;
      @include border-radius(12px, 12px);
      padding-top:6px;
      padding-left:20px;
      height: 20px;
      width: 380px;    
    }

    section {
      margin-left: 20px;
      margin-top: 20px;
      h1 {
        margin-bottom: 10px;
      }
      p {
        text-indent: 1em;
      }
    }
  }

  footer {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    @include hashi;
  }
}
  
#content {
  background: #111;
}


#article {
  header {
    h1 { @include article-label; }
    div {
      position: absolute;
      @include article-icon; 
      top: -25px;
      right: 20px;
    }
  }
}

#mc-lib {
  header {
    h1 { @include lib-label; }
    div {
      position: absolute;
      @include lib-icon; 
      top: -18px;
      right: 15px;
    }
  }

  section#explorizer {
    h1 {
      @include explorizer;
    }
  }

  section#nicoscraper {
    h1 {
      @include nicoscraper;
    }
  }

  section#nicomanip {
    h1 {
      @include nicomanip;
    }
  }
}

#mc-web {
  header {
    h1 { @include webs-label; }
    div {
      position: absolute;
      @include webs-icon; 
      top: -25px;
      right: 20px;
    }
  }

  section#ynn {
    h1 {
      @include ynn;
    }
  }
}

#aboutme {
  header {
    h1 { @include aboutme-label; }
    div {
      position: absolute;
      @include lib-icon; 
      top: -25px;
      right: 10px;
    }
  }
}
