@mixin aboutme-label {
  background: url('/images/index.png?1317711216') no-repeat 0px 0px;
  width: 74px;
  height: 11px;
}
@mixin aboutme {
  background: url('/images/index.png?1317711216') no-repeat 0px -21px;
  width: 74px;
  height: 11px;
}
@mixin article-icon {
  background: url('/images/index.png?1317711216') no-repeat 0px -42px;
  width: 37px;
  height: 43px;
}
@mixin article-label {
  background: url('/images/index.png?1317711216') no-repeat 0px -95px;
  width: 56px;
  height: 11px;
}
@mixin explorizer {
  background: url('/images/index.png?1317711216') no-repeat 0px -116px;
  width: 90px;
  height: 13px;
}
@mixin g8454 {
  background: url('/images/index.png?1317711216') no-repeat 0px -139px;
  width: 44px;
  height: 7px;
}
@mixin hashi {
  background: url('/images/index.png?1317711216') no-repeat 0px -156px;
  width: 160px;
  height: 23px;
}
@mixin lib-icon {
  background: url('/images/index.png?1317711216') no-repeat 0px -189px;
  width: 72px;
  height: 38px;
}
@mixin lib-label {
  background: url('/images/index.png?1317711216') no-repeat 0px -237px;
  width: 187px;
  height: 15px;
}
@mixin nicomanip {
  background: url('/images/index.png?1317711216') no-repeat 0px -262px;
  width: 88px;
  height: 13px;
}
@mixin nicoscraper {
  background: url('/images/index.png?1317711216') no-repeat 0px -285px;
  width: 84px;
  height: 13px;
}
@mixin rss {
  background: url('/images/index.png?1317711216') no-repeat 0px -308px;
  width: 22px;
  height: 22px;
}
@mixin search {
  background: url('/images/index.png?1317711216') no-repeat 0px -340px;
  width: 16px;
  height: 16px;
}
@mixin title-icon {
  background: url('/images/index.png?1317711216') no-repeat 0px -366px;
  width: 82px;
  height: 73px;
}
@mixin title-logo {
  background: url('/images/index.png?1317711216') no-repeat 0px -449px;
  width: 273px;
  height: 25px;
}
@mixin webs-icon {
  background: url('/images/index.png?1317711216') no-repeat 0px -484px;
  width: 60px;
  height: 43px;
}
@mixin webs-label {
  background: url('/images/index.png?1317711216') no-repeat 0px -537px;
  width: 230px;
  height: 15px;
}
@mixin ynn {
  background: url('/images/index.png?1317711216') no-repeat 0px -562px;
  width: 240px;
  height: 26px;
}
