@mixin aboutme-label {
  background: url('/images/index.png?1317903974') no-repeat 0px 0px;
  width: 74px;
  height: 11px;
}
@mixin article-label {
  background: url('/images/index.png?1317903974') no-repeat 0px -21px;
  width: 56px;
  height: 11px;
}
@mixin caption-label {
  background: url('/images/index.png?1317903974') no-repeat 0px -42px;
  width: 399px;
  height: 26px;
}
@mixin explorizer {
  background: url('/images/index.png?1317903974') no-repeat 0px -78px;
  width: 107px;
  height: 15px;
}
@mixin g8454 {
  background: url('/images/index.png?1317903974') no-repeat 0px -103px;
  width: 52px;
  height: 8px;
}
@mixin hashi {
  background: url('/images/index.png?1317903974') no-repeat 0px -121px;
  width: 174px;
  height: 42px;
}
@mixin lib-label {
  background: url('/images/index.png?1317903974') no-repeat 0px -173px;
  width: 187px;
  height: 15px;
}
@mixin list-decorate {
  background: url('/images/index.png?1317903974') no-repeat 0px -198px;
  width: 17px;
  height: 16px;
}
@mixin meat {
  background: url('/images/index.png?1317903974') no-repeat 0px -224px;
  width: 69px;
  height: 47px;
}
@mixin monster1 {
  background: url('/images/index.png?1317903974') no-repeat 0px -281px;
  width: 83px;
  height: 39px;
}
@mixin nicomanip {
  background: url('/images/index.png?1317903974') no-repeat 0px -330px;
  width: 104px;
  height: 15px;
}
@mixin nicoscraper {
  background: url('/images/index.png?1317903974') no-repeat 0px -355px;
  width: 99px;
  height: 15px;
}
@mixin parchment {
  background: url('/images/index.png?1317903974') no-repeat 0px -380px;
  width: 54px;
  height: 48px;
}
@mixin pudding {
  background: url('/images/index.png?1317903974') no-repeat 0px -438px;
  width: 70px;
  height: 45px;
}
@mixin rss {
  background: url('/images/index.png?1317903974') no-repeat 0px -493px;
  width: 22px;
  height: 22px;
}
@mixin search {
  background: url('/images/index.png?1317903974') no-repeat 0px -525px;
  width: 16px;
  height: 16px;
}
@mixin title-icon {
  background: url('/images/index.png?1317903974') no-repeat 0px -551px;
  width: 82px;
  height: 73px;
}
@mixin title-logo {
  background: url('/images/index.png?1317903974') no-repeat 0px -634px;
  width: 273px;
  height: 25px;
}
@mixin webs-label {
  background: url('/images/index.png?1317903974') no-repeat 0px -669px;
  width: 230px;
  height: 15px;
}
@mixin ynn {
  background: url('/images/index.png?1317903974') no-repeat 0px -694px;
  width: 269px;
  height: 26px;
}
