@mixin aboutme-icon {
  background: url('/images/index.png?1317898090') no-repeat 0px 0px;
  width: 70px;
  height: 45px;
}
@mixin aboutme-label {
  background: url('/images/index.png?1317898090') no-repeat 0px -55px;
  width: 74px;
  height: 11px;
}
@mixin article-icon {
  background: url('/images/index.png?1317898090') no-repeat 0px -76px;
  width: 54px;
  height: 48px;
}
@mixin article-label {
  background: url('/images/index.png?1317898090') no-repeat 0px -134px;
  width: 56px;
  height: 11px;
}
@mixin caption-label {
  background: url('/images/index.png?1317898090') no-repeat 0px -155px;
  width: 399px;
  height: 26px;
}
@mixin explorizer {
  background: url('/images/index.png?1317898090') no-repeat 0px -191px;
  width: 107px;
  height: 15px;
}
@mixin g8454 {
  background: url('/images/index.png?1317898090') no-repeat 0px -216px;
  width: 52px;
  height: 8px;
}
@mixin hashi {
  background: url('/images/index.png?1317898090') no-repeat 0px -234px;
  width: 174px;
  height: 42px;
}
@mixin lib-icon {
  background: url('/images/index.png?1317898090') no-repeat 0px -286px;
  width: 83px;
  height: 39px;
}
@mixin lib-label {
  background: url('/images/index.png?1317898090') no-repeat 0px -335px;
  width: 187px;
  height: 15px;
}
@mixin list-decorate {
  background: url('/images/index.png?1317898090') no-repeat 0px -360px;
  width: 17px;
  height: 16px;
}
@mixin nicomanip {
  background: url('/images/index.png?1317898090') no-repeat 0px -386px;
  width: 104px;
  height: 15px;
}
@mixin nicoscraper {
  background: url('/images/index.png?1317898090') no-repeat 0px -411px;
  width: 99px;
  height: 15px;
}
@mixin rss {
  background: url('/images/index.png?1317898090') no-repeat 0px -436px;
  width: 22px;
  height: 22px;
}
@mixin search {
  background: url('/images/index.png?1317898090') no-repeat 0px -468px;
  width: 16px;
  height: 16px;
}
@mixin title-icon {
  background: url('/images/index.png?1317898090') no-repeat 0px -494px;
  width: 82px;
  height: 73px;
}
@mixin title-logo {
  background: url('/images/index.png?1317898090') no-repeat 0px -577px;
  width: 273px;
  height: 25px;
}
@mixin webs-icon {
  background: url('/images/index.png?1317898090') no-repeat 0px -612px;
  width: 69px;
  height: 47px;
}
@mixin webs-label {
  background: url('/images/index.png?1317898090') no-repeat 0px -669px;
  width: 230px;
  height: 15px;
}
@mixin ynn {
  background: url('/images/index.png?1317898090') no-repeat 0px -694px;
  width: 269px;
  height: 26px;
}
