.sprites.index-aboutme {
  background: url('/images/index.png?1317708747') no-repeat 0px 0px;
  width: 74px;
  height: 11px;
}
.sprites.index-article-icon {
  background: url('/images/index.png?1317708747') no-repeat 0px -21px;
  width: 37px;
  height: 43px;
}
.sprites.index-article-label {
  background: url('/images/index.png?1317708747') no-repeat 0px -74px;
  width: 56px;
  height: 11px;
}
.sprites.index-explorizer {
  background: url('/images/index.png?1317708747') no-repeat 0px -95px;
  width: 90px;
  height: 13px;
}
.sprites.index-hashi {
  background: url('/images/index.png?1317708747') no-repeat 0px -118px;
  width: 160px;
  height: 23px;
}
.sprites.index-lib-icon {
  background: url('/images/index.png?1317708747') no-repeat 0px -151px;
  width: 72px;
  height: 38px;
}
.sprites.index-lib-label {
  background: url('/images/index.png?1317708747') no-repeat 0px -199px;
  width: 187px;
  height: 15px;
}
.sprites.index-nicomanip {
  background: url('/images/index.png?1317708747') no-repeat 0px -224px;
  width: 88px;
  height: 13px;
}
.sprites.index-nicoscraper {
  background: url('/images/index.png?1317708747') no-repeat 0px -247px;
  width: 84px;
  height: 13px;
}
.sprites.index-rss {
  background: url('/images/index.png?1317708747') no-repeat 0px -270px;
  width: 22px;
  height: 22px;
}
.sprites.index-search {
  background: url('/images/index.png?1317708747') no-repeat 0px -302px;
  width: 16px;
  height: 16px;
}
.sprites.index-title-icon {
  background: url('/images/index.png?1317708747') no-repeat 0px -328px;
  width: 82px;
  height: 73px;
}
.sprites.index-title-logo {
  background: url('/images/index.png?1317708747') no-repeat 0px -411px;
  width: 273px;
  height: 25px;
}
.sprites.index-webs-icon {
  background: url('/images/index.png?1317708747') no-repeat 0px -446px;
  width: 60px;
  height: 43px;
}
.sprites.index-webs-label {
  background: url('/images/index.png?1317708747') no-repeat 0px -499px;
  width: 230px;
  height: 15px;
}
.sprites.index-ynn {
  background: url('/images/index.png?1317708747') no-repeat 0px -524px;
  width: 240px;
  height: 26px;
}
