@import url(sprites.css);
* {
  padding: 0;
  margin: 0; }

body > header {
  height: 145px;
  background: #333333; }
  body > header #title-border {
    height: 20px;
    background: #ffaaaa; }
  body > header #title-logo {
    position: absolute;
    top: 100px;
    left: 20px; }
  body > header #title-icon {
    position: absolute;
    top: 100px;
    left: 200px; }

#content {
  background: #111; }

#content > article > header > h1 {
  background: #333333;
  border-radius: 10px;
  height: 30px; }
