@import "sprites.css";

* {
  padding: 0;
  margin: 0;
}

#wrapper {
  
}

#wrappper > header {
  height: 145px;
  background: rgb(51,51,51); 
  
  #title-border {
    height: 20px;
    background: rgb(255,170,170);
  }

  #title-logo {
    position: absolute;
    top: 100px;
    left: 20px;
  }
  
  #title-icon {
    position: absolute;
    top: 100px;
    left: 200px;
  }
}

@mixin caption {
  background: rgb(51,51,51); 
  border-radius: 10px;
  height: 30px;
}
  
#content {
  background: #111;
}
#content > article > header > h1 {
  @include caption
}
