/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.scss */
* {
  padding: 0;
  margin: 0;
  color: #333;
}

/* line 18, ../sass/screen.scss */
body {
  background: url("/images/back.png") repeat;
}
/* line 21, ../sass/screen.scss */
body header {
  margin-bottom: 40px;
  background: url("/images/title-band.png") repeat-x;
  height: 123px;
}
/* line 26, ../sass/screen.scss */
body header hgroup {
  margin: 0 auto;
  width: 900px;
  position: relative;
  top: 0;
}
/* line 32, ../sass/screen.scss */
body header hgroup #title-logo {
  position: absolute;
  top: 72px;
  left: 20px;
  background: url("/images/index.png?1317808589") no-repeat 0px -512px;
  width: 273px;
  height: 25px;
}
/* line 39, ../sass/screen.scss */
body header hgroup #title-icon {
  position: absolute;
  top: 26px;
  left: 540px;
  background: url("/images/index.png?1317808589") no-repeat 0px -429px;
  width: 82px;
  height: 73px;
}
/* line 46, ../sass/screen.scss */
body header hgroup ul {
  position: absolute;
  left: 660px;
  top: 31px;
}
/* line 51, ../sass/screen.scss */
body header hgroup ul li {
  font-family: 'Maven Pro', sans-serif;
  font-size: 13px;
  color: white;
  line-height: 20px;
}
/* line 57, ../sass/screen.scss */
body header hgroup ul li a {
  color: white;
  text-decoration: none;
}
/* line 60, ../sass/screen.scss */
body header hgroup ul li a:hover {
  text-decoration: underline;
}
/* line 68, ../sass/screen.scss */
body header #title-border-bottom {
  position: absolute;
  width: 100%;
  background: url("/images/wave.png") repeat-x;
  top: 98px;
  height: 30px;
}
/* line 77, ../sass/screen.scss */
body #wrapper {
  margin: 0 auto;
  width: 900px;
}
/* line 81, ../sass/screen.scss */
body #wrapper #left-content {
  float: left;
}
/* line 85, ../sass/screen.scss */
body #wrapper #right-content {
  float: right;
}
/* line 89, ../sass/screen.scss */
body #wrapper article {
  width: 400px;
  margin-bottom: 50px;
  font-size: 12px;
  line-height: 20px;
}
/* line 95, ../sass/screen.scss */
body #wrapper article header {
  position: relative;
  padding-top: 6px;
  padding-left: 20px;
  margin-bottom: 20px;
  height: 26px;
  width: 380px;
  background: url("/images/index.png?1317808589") no-repeat 0px -116px;
  width: 399px;
  height: 26px;
}
/* line 105, ../sass/screen.scss */
body #wrapper article section {
  margin-left: 20px;
  margin-top: 20px;
}
/* line 108, ../sass/screen.scss */
body #wrapper article section h1 {
  margin-bottom: 10px;
}
/* line 111, ../sass/screen.scss */
body #wrapper article section p {
  text-indent: 1em;
}
/* line 117, ../sass/screen.scss */
body #wrapper #clear {
  overflow: hidden;
  *zoom: 1;
  width: 900px;
}
/* line 123, ../sass/screen.scss */
body footer {
  position: relative;
  margin: 0 auto;
  width: 900px;
  margin-top: 100px;
  margin-bottom: 20px;
  background: url("/images/index.png?1317808589") no-repeat 0px -195px;
  width: 174px;
  height: 42px;
}

/* line 135, ../sass/screen.scss */
#article header h1 {
  background: url("/images/index.png?1317808589") no-repeat 0px -95px;
  width: 56px;
  height: 11px;
}
/* line 138, ../sass/screen.scss */
#article header div {
  position: absolute;
  background: url("/images/index.png?1317808589") no-repeat 0px -42px;
  width: 37px;
  height: 43px;
  top: -23px;
  right: 38px;
}
/* line 145, ../sass/screen.scss */
#article ul {
  margin-left: 37px;
}
/* line 147, ../sass/screen.scss */
#article ul li {
  font-weight: bold;
  list-style-type: circle;
}
/* line 150, ../sass/screen.scss */
#article ul li span {
  font-weight: normal;
}

/* line 159, ../sass/screen.scss */
#mc-lib header h1 {
  background: url("/images/index.png?1317808589") no-repeat 0px -296px;
  width: 187px;
  height: 15px;
}
/* line 162, ../sass/screen.scss */
#mc-lib header div {
  position: absolute;
  background: url("/images/index.png?1317808589") no-repeat 0px -247px;
  width: 83px;
  height: 39px;
  top: -18px;
  right: 26px;
}
/* line 171, ../sass/screen.scss */
#mc-lib section#explorizer h1 {
  background: url("/images/index.png?1317808589") no-repeat 0px -152px;
  width: 107px;
  height: 15px;
}
/* line 177, ../sass/screen.scss */
#mc-lib section#nicoscraper h1 {
  background: url("/images/index.png?1317808589") no-repeat 0px -346px;
  width: 99px;
  height: 15px;
}
/* line 183, ../sass/screen.scss */
#mc-lib section#nicomanip h1 {
  background: url("/images/index.png?1317808589") no-repeat 0px -321px;
  width: 104px;
  height: 15px;
}

/* line 191, ../sass/screen.scss */
#mc-web header h1 {
  background: url("/images/index.png?1317808589") no-repeat 0px -600px;
  width: 230px;
  height: 15px;
}
/* line 194, ../sass/screen.scss */
#mc-web header div {
  position: absolute;
  background: url("/images/index.png?1317808589") no-repeat 0px -547px;
  width: 65px;
  height: 43px;
  top: -25px;
  right: 42px;
}
/* line 203, ../sass/screen.scss */
#mc-web section#ynn h1 {
  background: url("/images/index.png?1317808589") no-repeat 0px -625px;
  width: 269px;
  height: 26px;
}

/* line 211, ../sass/screen.scss */
#aboutme header h1 {
  background: url("/images/index.png?1317808589") no-repeat 0px 0px;
  width: 74px;
  height: 11px;
}
/* line 214, ../sass/screen.scss */
#aboutme header div {
  position: absolute;
  background: url("/images/index.png?1317808589") no-repeat 0px -247px;
  width: 83px;
  height: 39px;
  top: -25px;
  right: 10px;
}

/* line 224, ../sass/screen.scss */
#each-article {
  width: 900px;
  margin-left: 40px;
  font-size: 16px;
  line-height: 28px;
  background: url("/images/back.png") repeat;
  opacity: 0.6;
}
/* line 232, ../sass/screen.scss */
#each-article h1 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 12px;
}
/* line 239, ../sass/screen.scss */
#each-article h2 {
  font-size: 16px;
  font-weight: bold;
}
/* line 244, ../sass/screen.scss */
#each-article p {
  text-indent: 1em;
  margin: 10px 0;
}
/* line 249, ../sass/screen.scss */
#each-article ul {
  list-style-type: circle;
  margin: 10px 24px;
}
