/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
* {
  padding: 0;
  margin: 0;
}
/* line 17, ../sass/screen.scss */
* em {
  font-weight: bold;
}

/* line 22, ../sass/screen.scss */
body {
  background: url("/images/back.png") repeat;
}
/* line 25, ../sass/screen.scss */
body > header {
  margin-bottom: 40px;
  background: url("/images/title-band.png") repeat-x;
  height: 123px;
}
/* line 30, ../sass/screen.scss */
body > header hgroup {
  margin: 0 auto;
  width: 900px;
  position: relative;
  top: 0;
}
/* line 36, ../sass/screen.scss */
body > header hgroup #title-logo {
  position: absolute;
  top: 72px;
  left: 20px;
  background: url("/images/index.png?1317883685") no-repeat 0px -512px;
  width: 273px;
  height: 25px;
}
/* line 43, ../sass/screen.scss */
body > header hgroup #title-icon {
  position: absolute;
  top: 26px;
  left: 540px;
  background: url("/images/index.png?1317883685") no-repeat 0px -429px;
  width: 82px;
  height: 73px;
}
/* line 50, ../sass/screen.scss */
body > header hgroup ul {
  position: absolute;
  left: 660px;
  top: 31px;
}
/* line 55, ../sass/screen.scss */
body > header hgroup ul li {
  font-family: 'Maven Pro', sans-serif;
  font-size: 13px;
  color: white;
  line-height: 20px;
}
/* line 61, ../sass/screen.scss */
body > header hgroup ul li a {
  color: white;
  text-decoration: none;
}
/* line 64, ../sass/screen.scss */
body > header hgroup ul li a:hover {
  text-decoration: underline;
}
/* line 73, ../sass/screen.scss */
body #wrapper {
  margin: 0 auto;
  width: 900px;
}
/* line 77, ../sass/screen.scss */
body #wrapper #left-content {
  float: left;
}
/* line 81, ../sass/screen.scss */
body #wrapper #right-content {
  float: right;
}
/* line 85, ../sass/screen.scss */
body #wrapper article {
  width: 400px;
  margin-bottom: 50px;
  font-size: 12px;
  line-height: 20px;
}
/* line 91, ../sass/screen.scss */
body #wrapper article header {
  position: relative;
  padding-top: 6px;
  padding-left: 20px;
  margin-bottom: 20px;
  height: 26px;
  width: 380px;
  background: url("/images/index.png?1317883685") no-repeat 0px -116px;
  width: 399px;
  height: 26px;
}
/* line 101, ../sass/screen.scss */
body #wrapper article section {
  margin-left: 20px;
  margin-top: 20px;
}
/* line 104, ../sass/screen.scss */
body #wrapper article section h1 {
  margin-bottom: 10px;
}
/* line 107, ../sass/screen.scss */
body #wrapper article section p {
  text-indent: 1em;
}
/* line 113, ../sass/screen.scss */
body #wrapper #clear {
  overflow: hidden;
  *zoom: 1;
  width: 900px;
}
/* line 119, ../sass/screen.scss */
body footer {
  position: relative;
  margin: 0 auto;
  width: 900px;
  margin-top: 100px;
  margin-bottom: 20px;
  background: url("/images/index.png?1317883685") no-repeat 0px -195px;
  width: 174px;
  height: 42px;
}

/* line 131, ../sass/screen.scss */
#article header h1 {
  background: url("/images/index.png?1317883685") no-repeat 0px -95px;
  width: 56px;
  height: 11px;
}
/* line 134, ../sass/screen.scss */
#article header div {
  position: absolute;
  background: url("/images/index.png?1317883685") no-repeat 0px -42px;
  width: 37px;
  height: 43px;
  top: -23px;
  right: 38px;
}
/* line 141, ../sass/screen.scss */
#article ul {
  margin-left: 37px;
}
/* line 143, ../sass/screen.scss */
#article ul li {
  font-weight: bold;
  list-style-type: circle;
}
/* line 146, ../sass/screen.scss */
#article ul li a {
  text-decoration: none;
}
/* line 148, ../sass/screen.scss */
#article ul li a:hover {
  text-decoration: underline;
}
/* line 152, ../sass/screen.scss */
#article ul li span {
  font-weight: normal;
}

/* line 161, ../sass/screen.scss */
#mc-lib header h1 {
  background: url("/images/index.png?1317883685") no-repeat 0px -296px;
  width: 187px;
  height: 15px;
}
/* line 164, ../sass/screen.scss */
#mc-lib header div {
  position: absolute;
  background: url("/images/index.png?1317883685") no-repeat 0px -247px;
  width: 83px;
  height: 39px;
  top: -18px;
  right: 26px;
}
/* line 173, ../sass/screen.scss */
#mc-lib section#explorizer h1 {
  background: url("/images/index.png?1317883685") no-repeat 0px -152px;
  width: 107px;
  height: 15px;
}
/* line 176, ../sass/screen.scss */
#mc-lib section#explorizer #ex-wrapper {
  width: 300px;
  height: 300px;
  margin: 20px;
  background: #CCC;
}
/* line 185, ../sass/screen.scss */
#mc-lib section#nicoscraper h1 {
  background: url("/images/index.png?1317883685") no-repeat 0px -346px;
  width: 99px;
  height: 15px;
}
/* line 191, ../sass/screen.scss */
#mc-lib section#nicomanip h1 {
  background: url("/images/index.png?1317883685") no-repeat 0px -321px;
  width: 104px;
  height: 15px;
}

/* line 199, ../sass/screen.scss */
#mc-web header h1 {
  background: url("/images/index.png?1317883685") no-repeat 0px -600px;
  width: 230px;
  height: 15px;
}
/* line 202, ../sass/screen.scss */
#mc-web header div {
  position: absolute;
  background: url("/images/index.png?1317883685") no-repeat 0px -547px;
  width: 65px;
  height: 43px;
  top: -25px;
  right: 42px;
}
/* line 211, ../sass/screen.scss */
#mc-web section#ynn h1 {
  background: url("/images/index.png?1317883685") no-repeat 0px -625px;
  width: 269px;
  height: 26px;
}

/* line 219, ../sass/screen.scss */
#aboutme header h1 {
  background: url("/images/index.png?1317883685") no-repeat 0px 0px;
  width: 74px;
  height: 11px;
}
/* line 222, ../sass/screen.scss */
#aboutme header div {
  position: absolute;
  background: url("/images/index.png?1317883685") no-repeat 0px -247px;
  width: 83px;
  height: 39px;
  top: -25px;
  right: 10px;
}

/* line 232, ../sass/screen.scss */
#each-article {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-size: 16px;
  color: #333;
  line-height: 28px;
  background: url("/images/article-back.png") repeat;
  -webkit-border-radius: 15px 15px;
  -moz-border-radius: 15px / 15px;
  -o-border-radius: 15px / 15px;
  -ms-border-radius: 15px / 15px;
  -khtml-border-radius: 15px / 15px;
  border-radius: 15px / 15px;
}
/* line 242, ../sass/screen.scss */
#each-article article {
  margin-bottom: 120px;
}
/* line 245, ../sass/screen.scss */
#each-article article header {
  margin-bottom: 50px;
}
/* line 247, ../sass/screen.scss */
#each-article article header h1 {
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 15px;
}
/* line 252, ../sass/screen.scss */
#each-article article header #date {
  font-size: 12px;
}
/* line 257, ../sass/screen.scss */
#each-article article h1 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 20px;
}
/* line 264, ../sass/screen.scss */
#each-article article h2 {
  font-size: 16px;
  font-weight: bold;
}
/* line 269, ../sass/screen.scss */
#each-article article p {
  text-indent: 1em;
  margin: 10px 0;
}
/* line 274, ../sass/screen.scss */
#each-article article blockquote {
  quotes: none;
  font-size: 14px;
  background: url("/images/back.png") repeat;
  margin: 20px 20px;
  padding: 10px 25px;
  -webkit-border-radius: 7px 7px;
  -moz-border-radius: 7px / 7px;
  -o-border-radius: 7px / 7px;
  -ms-border-radius: 7px / 7px;
  -khtml-border-radius: 7px / 7px;
  border-radius: 7px / 7px;
}
/* line 282, ../sass/screen.scss */
#each-article article blockquote p {
  text-indent: 0;
  margin: 0;
}
/* line 285, ../sass/screen.scss */
#each-article article blockquote p strong {
  font-weight: bold;
}
/* line 290, ../sass/screen.scss */
#each-article article blockquote blockquote {
  color: #555;
  margin: 10px 30px;
  padding: 0;
}
/* line 297, ../sass/screen.scss */
#each-article article .highlight {
  margin: 20px 0;
}
/* line 299, ../sass/screen.scss */
#each-article article .highlight pre {
  margin: 0 20px;
  padding: 10px;
  -webkit-border-radius: 7px 7px;
  -moz-border-radius: 7px / 7px;
  -o-border-radius: 7px / 7px;
  -ms-border-radius: 7px / 7px;
  -khtml-border-radius: 7px / 7px;
  border-radius: 7px / 7px;
}
/* line 2, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
#each-article article table th {
  text-align: center;
  font-weight: bold;
}
/* line 6, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
#each-article article table td,
#each-article article table th {
  padding: 2px;
}
/* line 8, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
#each-article article table td.numeric,
#each-article article table th.numeric {
  text-align: right;
}
/* line 14, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
#each-article article table th, #each-article article table td {
  border-right: 1px solid #7a98c6;
  border-bottom: 1px solid #7a98c6;
  border-left-width: 0px;
  border-top-width: 0px;
}
/* line 21, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
#each-article article table th:last-child, #each-article article table th.last, #each-article article table td:last-child, #each-article article table td.last {
  border-right-width: 0px;
}
/* line 29, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
#each-article article table tbody tr:last-child th, #each-article article table tbody tr:last-child td, #each-article article table tfoot tr:last-child th, #each-article article table tfoot tr:last-child td {
  border-bottom-width: 0px;
}
/* line 32, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
#each-article article table tbody tr.last th, #each-article article table tbody tr.last td, #each-article article table tfoot tr.last th, #each-article article table tfoot tr.last td {
  border-bottom-width: 0px;
}
/* line 309, ../sass/screen.scss */
#each-article article table td {
  border-right: dotted 1px #7a98c6;
  border-bottom: dotted 1px #7a98c6;
  padding: 5px 20px;
}
/* line 316, ../sass/screen.scss */
#each-article article ul {
  list-style-type: circle;
  margin: 10px 45px;
}
/* line 321, ../sass/screen.scss */
#each-article article img {
  margin: 20px 0;
}
