<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} </title>

  <link rel="stylesheet" type="text/css" href="{{ site.url_root }}/stylesheets/screen.css" media="screen" />
  
  <!-- jquery -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>  

  <!-- web font -->
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro:700' rel='stylesheet' type='text/css'>

  <script>
    hljs.initHighlightingOnLoad();
  </script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '___YOUR_UA_HERE___']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>

<body>
  <header>
    <div id="title-band"></div>
    <hgroup>
      <div id="title-logo" class="sprites index-titlelogo"></div>
      <div id="title-icon" class="sprites index-titleicon"></div>
      <ul>
        <li>twitter: <a href="https://twitter.com/#!/h_demon">@h_demon</a></li>
        <li>mail: hdemon7@gmail.com</li>
        <li>GitHub: <a href="https://github.com/hdemon">https://github.com/hdemon</a></li>
      </ul>
    </hgroup>
  </header>

    {{ content }}
  <footer></footer>
</body>
</html>
